* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	width:360px;
	height:160px;
 	
	border-radius: 5px;
}

.container__title {
	background: #4b4a4a;
	color: #fff;
	width: 100%;
	border: 1px solid transparent;
	padding: 7px 15px;
}

.container__block {
	background: #f2f2f2;
	align-items: center;
}

.container__body {
	background: #fff;
	width: 380px;
	min-height: 150px;
	align-items: center;
}
.container__roller {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	width: 100%;
	align-items: center;
}

.progressBar {
	max-width: 140px;
	width: 140px;
	height: 20px;
	background: #cdcdcd;
	padding: 3px;
	position: relative;
	align-items: center;
}
.progressBar__arrow {
	width: 5px;
	height: 15px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #4b4a4a;;
	position: relative;
	top: 12px;
	right: -7px;
	overflow: visible;
	float: right;
}
.progressBar__fill {
	max-width: 100%;
	max-height: 100%;
	background: #0086cc;
	width: 0;
	height: 14px;
	transition: width 2s;*/
	position: relative;
}
.progressBar__target {
	color: #4b4a4a;
	position: absolute;
	top: 15px;
	right: -8px;
}
.container__plate {
	background: #7a797c;
	color: #fff;
	text-align: center;
	padding: 3px 8px;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
hr {
	color: rgba(0, 0, 0, 0.2);
	border: none;
	height: 1px;
}

.container__control__text {
	padding: 25px;
}

.container__notify {
	text-align: center;
}

.targetSumm {
	font-size: 14px;
}